
/* Universal Styles */

body {
  margin: 0;
}


/* Header Navigation */

header {
  display: flex;
  align-items: center;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  padding: 10px 10px;
  position: fixed;
  z-index: 1;
  margin: 0;

}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
}

header nav {
  padding-right: 40px;
  color: black;
}

a {
  color: black;

}

nav span {
  display: inline-block;
  padding: 20px 10px;
}


/* Main Content Container */

.content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.column {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin-right: 32px;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: space-between;
  align-content: space-between;
  padding-right: 20px;
}

.narrative {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

/* First Column */

.column.large {
  display: flex;
  width: 630px;
  height: auto;
  flex-direction: column;

}

.stories {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  margin-top: 17px;
}

.column.large .text {
  height: 250px;
}


.main-img-headline .narrative {
  font-size: 40px;
}

.main-img-headline {
  display: flex;
  flex-direction: column;
  background-image: url("../images/img-story-main.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
}

.fall-img-headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/img-story-2.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  text-align: center;

}

.camera-img-headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/img-story-3.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  text-align: center;
}


/* Second Column */

.column.medium {
  display: flex;
  width: 300px;
  height: auto;
  flex-direction: column;
}

.cats-img-headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/img-story-1.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  text-align: center;
}


/* Third Column */

.column.small {
  display: flex;
  width: 240px;
  height: auto;
  flex-direction: column;
}

.news-bites {
}
